<div class="home-image"></div>
    <div class="input-entry">
        <form ng-controller="homeControl">
            <input class="underline" type="text" ng-model="input1" placeholder="Throw a color at me!"><br>
            <input class="underline" type="text" ng-model="input2" placeholder="Where you livin?"><br>
            <!-- <input class="underline" type="text" ng-model="input3" placeholder="Enter Input 3"><br> -->
            <br>
            <button ng-click='makePlaylist()' class="button-black" >Make Playlist</button>
        </form>
    </div>