body {
    font-family: arial;
    background-color: rgb(172, 172, 172);   
    background-image: url('https://static1.squarespace.com/static/55d62be6e4b0be109fdab4b5/55d74672e4b06c5ffbc15cc4/55d746aae4b0c9560c4bd747/1440171692692/_T0U0829_20m_RGB.jpg?format=2500w');
    /* background-image: url('http://s3.amazonaws.com/taggist/posts/photos/original/137-tumblr_m9ubagH3wO1qzyjdbo1_1280.jpeg?1347158661'); */
    /* background-image: url("https://i.pinimg.com/originals/bf/93/25/bf9325c2a8910ba4d79a9aa80299cc0d.jpg"); */
    background-size: cover;
}

a {
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    color: white;
}

a:hover {
    list-style-type: none;
    border-bottom: none;
    color: rgb(126, 252, 141);
}

/* .navigation1 {
    padding-top: -15px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
   } */

nav {
    display: flex;
    float: left;
    background-color: #000000;
    width: auto;
    font-size:13px;
    border-radius: 3px;
    margin-top: -25px;
    padding: 8px;
    margin-left: 10px;
}

nav:hover {
  background-color: #39011e;
}



.spotify-type {
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
}

.spotify-type2 {
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: rgb(18, 18, 18);
    font-family: 'Roboto Slab', serif;
}

.spotify-type3 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 5px;
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

/* h3::first-letter {
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(7, 84, 25);
    font-family: 'Roboto Slab', serif;
} */


/* .home-image {
    background-image: url("https://i.pinimg.com/originals/bf/93/25/bf9325c2a8910ba4d79a9aa80299cc0d.jpg");
    background-size: cover;
} */

.playlistImage{
    background-size: cover;
}


.title{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

.aligner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(238, 238, 238);
}

form input[type=text] {
color: gray;
}

.input-entry {
    display: flex;
    position: absolute;
    height: 365px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid #1DB954;

}

.button-black{
    font-size: 24px;
    border-color: rgb(52, 50, 50);
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 13px;
    width: 250px;
    margin: 25px;
}

.player {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding-top: 20px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
    border: 2px solid #1DB954;
    opacity: 0.9;
    height: auto;
    width: auto;
}
#rickrolled {
    width: 100%    !important;
    height: auto   !important;
}
/* 
.player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
    .player iframe,
    .player object,
    .player embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
    } */