body {
    font-family: arial;
    background-color: rgb(230, 230, 230);   
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.intro-title-header {
    margin-top: -5px;
}

.intro-title {
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.intro-titleWhite {
    color: rgb(249, 249, 249);
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.intro-para {
    text-align: center;
    padding: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    color: white;
    margin: 10px auto;
}

.intro-box {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0;
    border-radius: 10px;
    border: 2px solid #1DB954;
    transition: opacity 2s ease-in;
}

.intro-box.load {
    opacity: 0.8;
}

.fynd-button {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(52, 50, 50);
    color: white;
    background-color: #1DB954;
    border-radius: 30px;
    line-height: .1;
    padding: 20px;
    width: 200px;
    margin: 10px;
}

.logo{
    position: fixed;
    right: 8px;
    bottom: 8px;
    width: 65px;
}

a {
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    color: white;
}

a:hover {
    list-style-type: none;
    border-bottom: none;
    color: rgb(126, 252, 141);
}
/* 
#spotify-header {
    position: fixed;
    border: solid red 10px;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(172, 0, 0);
} */

/* .navigation1 {
    padding-top: -15px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
   } */

nav {

    display: flex; 
    float: left;
    background-color: #000000;
    font-size:13px;
    border-radius: 3px;
    margin-top: -25px;
    padding: 8px;
    margin-left: 10px;
    opacity: 0;
    transition: ease-in 2s;
}
nav.load {
    opacity: 1;
}

nav:hover {
  background-color: #39011e;
}



.spotify-type {
    font-size: 35px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
    /* text-shadow: 2px 2px 5px #ffffff; */
}

.spotify-type2 {
    font-size: 35px;
    margin-bottom: 5px;
    color: rgb(18, 18, 18);
    font-family: 'Roboto Slab', serif;
}

.spotify-type3 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}


.playlistImage{
    background-size: cover;
}


.title{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}

.aligner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(238, 238, 238);
}

form input[type=text] {
color: gray;
}

.input-entry {
    display: flex;
    position: absolute;
    height: 365px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
    border: 2px solid #1DB954;
}

.button-black{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(52, 50, 50);
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1DB954;
    border-radius: 30px;
    line-height: .1;
    padding: 20px;
    width: 250px;
    margin: 20px;
    margin-bottom: auto;
}
.button-black2{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(52, 50, 50);
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1DB954;
    border-radius: 30px;
    line-height: .1;
    padding: 20px;
    width: 250px;
    margin: 10px;
    margin-bottom: auto;
}


.player {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    padding-top: 20px;
    padding: 30px;
    /* padding-bottom: 70px; */
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
    border: 2px solid #1DB954;
    opacity: 0.9;
    height: auto;
    width: auto;
    max-height: 425px;
    overflow: scroll;
}
.playlistButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 100%;
    left: 50%;
    margin-top: -100px;
    margin-bottom:100px;
    transform: translate(-50%, -50%);
}

#rickrolled-type {
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: arial;
    font-size: 15px;
    color: rgb(157, 157, 157);
}

#rickrolled {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 10px;
    border: 2px solid #1DB954;
    opacity: 0.9;
    padding-top: 20px;
    padding: 0px;
    transform: translate(-50%, -50%);
    height: 365px;
    width: 400px;
}


.rick-image {
    background-size: cover;
}

